#code-editor-container {
  flex: 1;

  position: relative;
}

.error-marker {
  border-bottom: 4px solid tomato;
  /* fix: error marker always appears on the first line of the code */
  position: absolute;
  margin-top: -2px;
  min-width: 1ch;
}
