.navigation-menu {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
  z-index: 20; /* to stay on top of the console window */
  /* 
    This is also to stay on top of the console window.
    What happens is that the console window continer has a child with position:fixed;
    Therefore it (the child) would be displayed on top of the navigation-menu
    no matter the z-indexes (because positioned elements have
    priority over unpositioned elements).
    By setting a position on the navigation-menu, both (i) console window
    and (ii) navigation-menu have a position attribute, so they are now
    on "equal-footing" and who appears on top is controlled by z-index
  */
  position: relative;
}

#monaco-container {
  /* 
    fix: without !important, ace resizes the editor to the minimum height
    necessary to cover the code, instead of taking up all the space of
    the container
  */
  height: 100% !important;
  width: 100% !important;

  /* fix: the code area must not get visibly cut above by the top header */
  top: 2px;
  position: relative;
}

.error-marker {
  border-bottom: 4px solid tomato;
  /* fix: error marker always appears on the first line of the code */
  position: absolute;
  margin-top: -2px;
  min-width: 1ch;
}
