/* Navigation */
section:not(:target):not(#edit),
section:target ~ #edit {
  display: none;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

main,
#visualize,
#edit {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#d3-container {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-self-end {
  align-self: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}
